body, html{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto
}

img {
    width: 150px;
    margin: 0 auto;
}

input{
    background-color: #DCE1EB;
    color: #432000;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    border: none;
    text-align: center;
}

button{
    background-color: #AC485A;
    color: #FDFDFD;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button:hover{
    background-color: #432000;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li{
    font-size: 20px;
    color: #AC485A;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

ul li:hover{
    background-color: #FFECC7;
    cursor: pointer;
}